{{!-- <nav>
	{{> link text="Skills" href="/skills" line=true}}
	{{> link text="Summary" href="/summary" line=true}}
	{{> link text="Education" href="/education" line=true}}
	{{> link text="Work" href="/work" line= true noLine=true}}
</nav> --}}

<section class="ms-3">
	<div class="row">
		<div class="col-4">
			<div class="card">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link active" href="/skills">Skills</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/summary">Summary</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/education">Education</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/work">Work</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>